In [2]:
import pandas as pd
import numpy as np
import requests, json, os
from urllib.parse import quote

In [3]:
pop = pd.read_csv('data/202305_주민등록인구및세대현황_읍면동.csv', encoding='euc-kr',  skiprows=1, sep=',')
pop.head(2)

,행정기관코드,행정기관,총인구수,세대수,세대당 인구,남자 인구수,여자 인구수,남여 비율,총인구수.1,세대수.1,...,세대당 인구.3,남자 인구수.3,여자 인구수.3,남여 비율.3,총인구수.4,세대수.4,세대당 인구.4,남자 인구수.4,여자 인구수.4,남여 비율.4
0,1100000000,서울특별시,"9,424,873","4,447,861",2.12,"4,567,739","4,857,134",0.94,"9,427,583","4,457,982",...,2.11,"4,563,512","4,859,198",0.94,"9,418,885","4,467,999",2.11,"4,560,702","4,858,183",0.94
1,1111000000,서울특별시 종로구,"141,223","72,479",1.95,"68,314","72,909",0.94,"141,433","72,773",...,1.94,"68,079","72,812",0.93,"140,601","72,584",1.94,"67,923","72,678",0.93

In [8]:
df = pop[['행정기관', '총인구수.4', '세대수.4','세대당 인구.4','남자 인구수.4','여자 인구수.4', '남여 비율.4']]
df.columns= ['행정주소','총인구', '세대수','세대당인구','남자인구','여자인구', '남여비율']

In [9]:
df.head(50).tail()

                행정주소     총인구     세대수  세대당인구    남자인구    여자인구  남여비율
45   서울특별시 용산구 이촌제1동  25,015   9,156   2.73  11,747  13,268  0.89
46   서울특별시 용산구 이촌제2동   7,979   3,598   2.22   3,729   4,250  0.88
47  서울특별시 용산구 이태원제1동   6,108   3,477   1.76   3,031   3,077  0.99
48  서울특별시 용산구 이태원제2동   8,667   4,826   1.80   4,050   4,617  0.88
49     서울특별시 용산구 한남동  19,185  10,215   1.88   9,268   9,917  0.93

In [26]:
nulls = df.isna()
df_nulls= df[nulls]
df_nulls

     행정주소  총인구  세대수  세대당인구 남자인구 여자인구  남여비율
0     NaN  NaN  NaN    NaN  NaN  NaN   NaN
1     NaN  NaN  NaN    NaN  NaN  NaN   NaN
2     NaN  NaN  NaN    NaN  NaN  NaN   NaN
3     NaN  NaN  NaN    NaN  NaN  NaN   NaN
4     NaN  NaN  NaN    NaN  NaN  NaN   NaN
...   ...  ...  ...    ...  ...  ...   ...
3871  NaN  NaN  NaN    NaN  NaN  NaN   NaN
3872  NaN  NaN  NaN    NaN  NaN  NaN   NaN
3873  NaN  NaN  NaN    NaN  NaN  NaN   NaN
3874  NaN  NaN  NaN    NaN  NaN  NaN   NaN
3875  NaN  NaN  NaN    NaN  NaN  NaN   NaN

[3876 rows x 7 columns]

In [37]:
df_n = df.columns[df.isnull().any()]
df_n = df.columns[df.isnull().any()]
df_n

Index(['총인구', '세대수', '세대당인구', '남자인구', '여자인구', '남여비율'], dtype='object')

In [36]:
df_i = df.index[df.isnull().any(axis=1)]
df_i         # Index([1667] : 결측치 있는 행

Index([1667], dtype='int64')

In [35]:
df.iloc[1667]           #  경기도 하남시 풍산동

행정주소     경기도 하남시 풍산동
총인구              NaN
세대수              NaN
세대당인구            NaN
남자인구             NaN
여자인구             NaN
남여비율             NaN
Name: 1667, dtype: object

In [46]:
pop.iloc[1667]
pop.iloc[1667][1:8]                    # 같은 행의 1월 데이터 확인

행정기관      경기도 하남시 풍산동
총인구수           29,825
세대수            11,102
세대당 인구           2.69
남자 인구수         14,714
여자 인구수         15,111
남여 비율            0.97
Name: 1667, dtype: object

In [47]:
df.iloc[1667] = pop.iloc[1667][1:8]    # 결측치를 1월 데이터로 대체

In [51]:
df.iloc[1667]

행정주소     경기도 하남시 풍산동
총인구           29,825
세대수           11,102
세대당인구           2.69
남자인구          14,714
여자인구          15,111
남여비율            0.97
Name: 1667, dtype: object

In [52]:
df.isna().sum().sum()

0

In [56]:
df.to_csv('data/주민등록인구및세대현황_읍면동_202305.csv', index=False)

In [2]:
df1 = pd.read_csv('data/주민등록인구및세대현황_읍면동_202305.csv', encoding='utf-8', sep=',')
df1

,행정주소,총인구,세대수,세대당인구,남자인구,여자인구,남여비율
0,서울특별시,"9,418,885","4,467,999",2.11,"4,560,702","4,858,183",0.94
1,서울특별시 종로구,"140,601","72,584",1.94,"67,923","72,678",0.93
2,서울특별시 종로구 청운효자동,"11,517","5,109",2.25,"5,282","6,235",0.85
3,서울특별시 종로구 사직동,"9,104","4,580",1.99,"4,040","5,064",0.80
4,서울특별시 종로구 삼청동,"2,291","1,137",2.01,"1,094","1,197",0.91
...,...,...,...,...,...,...,...
3871,제주특별자치도 서귀포시 서홍동,"11,200","4,620",2.42,"5,525","5,675",0.97
3872,제주특별자치도 서귀포시 대륜동,"15,586","7,037",2.21,"7,829","7,757",1.01
3873,제주특별자치도 서귀포시 대천동,"13,627","6,462",2.11,"6,927","6,700",1.03
3874,제주특별자치도 서귀포시 중문동,"12,309","6,035",2.04,"6,257","6,052",1.03
3875,제주특별자치도 서귀포시 예래동,"3,887","2,051",1.90,"1,989","1,898",1.05

In [7]:
type(df1.행정주소.str.strip())
type(df1.행정주소.str[1])
df1.행정주소[1][-1]
# type(df1.행정주소.values[1])
# type(df1.행정주소.values[1])

' '

In [45]:
df1.행정주소.str.split(' ')
# df1.행정주소.str.split(' ')[1][-1]
# len(df1.행정주소.str.split(' ')[1][-1]) == 0

0                [서울특별시, , ]
1             [서울특별시, 종로구, ]
2        [서울특별시, 종로구, 청운효자동]
3          [서울특별시, 종로구, 사직동]
4          [서울특별시, 종로구, 삼청동]
                ...
3871    [제주특별자치도, 서귀포시, 서홍동]
3872    [제주특별자치도, 서귀포시, 대륜동]
3873    [제주특별자치도, 서귀포시, 대천동]
3874    [제주특별자치도, 서귀포시, 중문동]
3875    [제주특별자치도, 서귀포시, 예래동]
Name: 행정주소, Length: 3876, dtype: object

In [58]:
df1.행정주소 = df1.행정주소.str.strip()
df1.행정주소[0][-1]        # 서울특별시 뒤의 공백 없어짐 확인

'시'

In [63]:
df1.isna().sum().sum()

0

In [65]:
df1.head(1000).tail(10)

                   행정주소    총인구    세대수  세대당인구   남자인구   여자인구  남여비율
990       인천광역시 옹진군 북도면  1,152    658   1.75    595    557  1.07
991  인천광역시 옹진군 북도면장봉출장소    974    542   1.80    515    459  1.12
992       인천광역시 옹진군 백령면  4,933  2,969   1.66  2,914  2,019  1.44
993       인천광역시 옹진군 대청면  1,208    775   1.56    699    509  1.37
994  인천광역시 옹진군 대청면소청출장소    214    167   1.28    131     83  1.58
995       인천광역시 옹진군 덕적면  1,930  1,210   1.60  1,081    849  1.27
996       인천광역시 옹진군 영흥면  6,608  3,781   1.75  3,696  2,912  1.27
997       인천광역시 옹진군 자월면    970    596   1.63    527    443  1.19
998  인천광역시 옹진군 자월면이작출장소    380    235   1.62    200    180  1.11
999       인천광역시 옹진군 연평면  2,124  1,511   1.41  1,351    773  1.75

In [110]:
city= df1[df1.행정주소.str.contains('시','군') | df1.행정주소.str.contains('구') ]
city.head()

              행정주소        총인구        세대수  세대당인구       남자인구       여자인구  남여비율
0          서울특별시    9,418,885  4,467,999   2.11  4,560,702  4,858,183  0.94
1       서울특별시 종로구     140,601     72,584   1.94     67,923     72,678  0.93
2  서울특별시 종로구 청운효자동     11,517      5,109   2.25      5,282      6,235  0.85
3    서울특별시 종로구 사직동      9,104      4,580   1.99      4,040      5,064  0.80
4    서울특별시 종로구 삼청동      2,291      1,137   2.01      1,094      1,197  0.91

In [ ]:
# 총 인구 1000명 이하 주소?

In [67]:
df1.to_csv('data/주민등록인구및세대현황_읍면동_202305.csv', index=False)    # 전처리 1차

In [3]:
df2 = pd.read_csv('data/주민등록인구및세대현황_읍면동_202305.csv',encoding='utf-8', sep=',')
df2

,행정주소,총인구,세대수,세대당인구,남자인구,여자인구,남여비율
0,서울특별시,"9,418,885","4,467,999",2.11,"4,560,702","4,858,183",0.94
1,서울특별시 종로구,"140,601","72,584",1.94,"67,923","72,678",0.93
2,서울특별시 종로구 청운효자동,"11,517","5,109",2.25,"5,282","6,235",0.85
3,서울특별시 종로구 사직동,"9,104","4,580",1.99,"4,040","5,064",0.80
4,서울특별시 종로구 삼청동,"2,291","1,137",2.01,"1,094","1,197",0.91
...,...,...,...,...,...,...,...
3871,제주특별자치도 서귀포시 서홍동,"11,200","4,620",2.42,"5,525","5,675",0.97
3872,제주특별자치도 서귀포시 대륜동,"15,586","7,037",2.21,"7,829","7,757",1.01
3873,제주특별자치도 서귀포시 대천동,"13,627","6,462",2.11,"6,927","6,700",1.03
3874,제주특별자치도 서귀포시 중문동,"12,309","6,035",2.04,"6,257","6,052",1.03
3875,제주특별자치도 서귀포시 예래동,"3,887","2,051",1.90,"1,989","1,898",1.05

In [4]:
df2[df2.행정주소.str.contains('하남시')]  # 풍산동 중복(미사3동으로 변경된 것)

              행정주소      총인구      세대수  세대당인구     남자인구     여자인구  남여비율
1660       경기도 하남시  327,255  140,963   2.32  163,173  164,082  0.99
1661   경기도 하남시 천현동    6,736    3,786   1.78    3,715    3,021  1.23
1662  경기도 하남시 신장1동    6,851    3,887   1.76    3,573    3,278  1.09
1663  경기도 하남시 신장2동   46,032   19,253   2.39   22,760   23,272  0.98
1664  경기도 하남시 덕풍1동   14,673    6,574   2.23    7,435    7,238  1.03
1665  경기도 하남시 덕풍2동   18,193    8,846   2.06    9,149    9,044  1.01
1666  경기도 하남시 덕풍3동   25,220   10,833   2.33   12,501   12,719  0.98
1667   경기도 하남시 풍산동   29,825   11,102   2.69   14,714   15,111  0.97
1668   경기도 하남시 감북동    2,718    1,508   1.80    1,518    1,200  1.27
1669   경기도 하남시 감일동   36,822   13,652   2.70   18,381   18,441  1.00
1670   경기도 하남시 위례동   33,438   11,619   2.88   16,422   17,016  0.97
1671   경기도 하남시 춘궁동    2,568    1,548   1.66    1,514    1,054  1.44
1672   경기도 하남시 초이동    3,303    1,897   1.74    1,881    1,422  1.32
1673  경기도 하남시 미사1동   53,742   27,831   1.93   26,494   27,248  0.97
1674  경기도 하남시 미사2동   47,152   18,651   2.53   23,126   24,026  0.96
1675  경기도 하남시 미사3동   29,807   11,078   2.69   14,704   15,103  0.97

In [4]:
del df2.행정주소[1667]

In [8]:
df2.행정주소.iloc[1660:1675]    # 풍산동 삭제됨

1660         경기도 하남시
1661     경기도 하남시 천현동
1662    경기도 하남시 신장1동
1663    경기도 하남시 신장2동
1664    경기도 하남시 덕풍1동
1665    경기도 하남시 덕풍2동
1666    경기도 하남시 덕풍3동
1668     경기도 하남시 감북동
1669     경기도 하남시 감일동
1670     경기도 하남시 위례동
1671     경기도 하남시 춘궁동
1672     경기도 하남시 초이동
1673    경기도 하남시 미사1동
1674    경기도 하남시 미사2동
1675    경기도 하남시 미사3동
Name: 행정주소, dtype: object

In [5]:
####### 지역 전처리 파일 저장(덮어쓰기)
df2.to_csv('data/202305_주민등록인구및세대현황_읍면동.csv', index=False)

In [6]:
pop = pd.read_csv('data/202305_주민등록인구및세대현황_읍면동.csv', encoding='utf-8', sep=',')
pop.head()

              행정주소        총인구        세대수  세대당인구       남자인구       여자인구  남여비율
0            서울특별시  9,418,885  4,467,999   2.11  4,560,702  4,858,183  0.94
1        서울특별시 종로구    140,601     72,584   1.94     67,923     72,678  0.93
2  서울특별시 종로구 청운효자동     11,517      5,109   2.25      5,282      6,235  0.85
3    서울특별시 종로구 사직동      9,104      4,580   1.99      4,040      5,064  0.80
4    서울특별시 종로구 삼청동      2,291      1,137   2.01      1,094      1,197  0.91

In [7]:
pop.tail()

                  행정주소     총인구    세대수  세대당인구   남자인구   여자인구  남여비율
3871  제주특별자치도 서귀포시 서홍동  11,200  4,620   2.42  5,525  5,675  0.97
3872  제주특별자치도 서귀포시 대륜동  15,586  7,037   2.21  7,829  7,757  1.01
3873  제주특별자치도 서귀포시 대천동  13,627  6,462   2.11  6,927  6,700  1.03
3874  제주특별자치도 서귀포시 중문동  12,309  6,035   2.04  6,257  6,052  1.03
3875  제주특별자치도 서귀포시 예래동   3,887  2,051   1.90  1,989  1,898  1.05